/* Header */
.header{
    display: grid;
    background-image:url("LawnImg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px 50px;
  }


/* Heading font */
.header h1{
    font-family: 'impact', sans-serif;
    font-weight: 10;
    color: black;
    text-align: center;
    text-shadow: 0 0 2px white;
  }
  
/* Main section */
body {
    display: grid;
    background: mintcream;
    /* Azule, GhostWhite, MintCream, Snow */
  }
  

/* Tag section */
.tag{
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: solid;
  }  

/* Service card header */
.card-header{
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}

.card-header h3 {
    font-size: 30px;
    color: white;
    background: olivedrab;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

/* Service cards */
.cards-list {
    display: grid;
    justify-items: center;
}

.card {
    margin: 10px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    transition: 0.4s;
  }

  .card .card-image {
    border-radius: 40px;
  }
  
  .card .card-image img {
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card-title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  div.card-title{
    height: 50px;
    background-color: white;
    opacity: 0.6;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

/* Information section */
.info-grid{
    display: flex;
    justify-content: space-evenly;
}

/* Location Information */
.location-info{
    border: black solid;
    text-align: center;
    margin: 10px;
}

/* Contact information */
.contact-info{
    text-align: center; 
    border: black solid;
    margin: 10px;
}

.contact-info a{
    color:black;
}

.phone{
    display: flex;
    align-items: center;
}
  
/* Icons */
.material-icons{
    margin-right: 10px;
    margin-left: 20px;
    vertical-align: baseline;
  }
  

/* Footer */
.footer {
    background: LightGrey;
    color: Black;
    font-size: 12px;
    margin-top: 30px;
  }
  
.footer-inner {
    max-width: 1000px;
    margin: 10 auto;
    padding: 0 10px 0 20px;
    align-items: center;
    justify-content: space-between;
  }
  
.footer ul {
    display: flex;
    margin: 5px;
  }