/*large devices*/
@media screen and (min-width: 801px){
    .header h1{
        font-size: 100px;
    }

    .tag{
        font-size: 23px;
      }  

    .card-grid{
        grid-template-columns: repeat(3,1fr);
    }

    .card{
        margin: 10px;
    }

    .card-header{
        font-size: 45px;
        text-align: center;
    }
    
    .card-content{
        font-size: 20px;
    }

    .location-info{
        font-size: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
    }
    
    .info-title{
        font-size: 45px;
    }

    .info{
        font-size: 40px;
    }

    .contact-info{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
    }
    
    .contact-info a{
        font-size: 40px;
    }

    .phone{
        justify-content:center;
        margin-right: 30px;
    }

}