/*large devices*/
@media screen and (min-width: 769px){
    /* Heading font */
    .header h1{
        font-size: 100px;
    }

    /* Tag section */
    .tag{
        font-size: 23px;
      }  

    /* Service card header */
    .card-header{
        font-size: 45px;
        text-align: center;
    }
    
    .card-header h3 {
        font-size: 40px;
        border-radius: 15px;
        margin: 10px;
        padding: 10px;
        width: 400px;
    }

    /* Service cards */
    .cards-list{
        grid-template-columns: repeat(3,4fr);
    }

    .card{
        width: 300px;
        height: 300px;
    }

    .card .card-image {
        width: inherit;
        height: inherit;
      }

    .card .card-image img {
        width: inherit;
        height: inherit;
      }

    .card-title {
        margin-top: -73px;
      }
    
    .card-title p {
        font-size: 23px;
        padding-top: 10px;
    }

    /* Information section */
    .info-title{
        font-size: 45px;
    }

    .info{
        font-size: 40px;
    }

    /* Location Information */
    .location-info{
        font-size: 40px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
    }
    
    /* Contact information */
    .contact-info{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 20px;
    }
    
    .contact-info a{
        font-size: 40px;
    }

    .phone{
        justify-content:center;
        margin-right: 30px;
    }

}