/*medium devices*/
@media screen and (min-width: 480px) and (max-width: 801px){
    .header h1{
        font-size: 80px;
    }

    .tag{
        font-size: 20px;
      }  

    .card-grid{
        grid-template-columns: repeat(2,2fr);
    }

    .card{
        margin: 10px;
    }

    .card-content{
        padding: 45px;
        width: 115px;
        height: 115px;
    }

    .card-header{
        font-size: 30px;
    }

    .location-info{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .info-title{
        font-size: 30px;
    }

    .info{
        font-size: 25px;
    }

    .contact-info{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
    
    .contact-info a{
        font-size: 25px;
        margin-right: 40px;
    }
}